body {
    /*background: url(img/bg.jpg) no-repeat center center fixed;*/
    background-color: #dce5ef;
    margin: 8px auto;
    width: 1000px;
    background-size: cover;
}
#tabbed * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}
a {
    text-decoration: none;
}
body a {
    color: #32b6e6;
}
body a:hover {
    color: #e95d0f;
}
#tabbed {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: center;
    text-align: left;
}
/***** Heading *****/

#heading {
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    /*background:#fff;*/
    position: relative;
    text-align: left;
}
#heading div {
    width: 100%;
    padding: 0 25px 5px;
    margin: 0;
    position: relative;
    text-align: left;
    font-weight: 400;
}
/***** Top *****/

#top {
    width: 100%;
    padding: 0.5%;
    margin-bottom: 6px;
    background: #fff;
    display: inline-block;
    float: center;
}
#top img {
    width: 99%;
    text-align: center;
    vertical-align: middle;
}
/***** Left column *****/

#left {
    float: left;
    width: 14%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

/***** Right column *****/

#right {
    float: right;
    position: relative;
    z-index: 1;
    width: 86%;
    min-height: 289px;
    background: #fff;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    height: auto;
}
/***** Wrapper *****/

#right .wrapper {
    position: relative;
    width: 92%;
    margin: 2% 4%;
    float: left;
    text-align: left;
}
#tabbed .right .wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 10px 40px;
    float: left;
}
/***** Menu *****/

#tabbed ul.menu {
    z-index: 0;
    margin: 0 0 5px;
    padding: 0;
    border: 0;
    list-style: none;
}
#tabbed ul.menu li {
    position: relative;
    text-align: left;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #888;
}
#tabbed ul.menu li a {
    cursor: pointer;
    display: block;
    position: relative;
    background: #32b6e6; /*light blue*/
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    padding-left: 25px;
    margin: 0 0 5px;
    /*border-left:6px solid #ccc;*/
    width: 108%;
    height: 44px;
    line-height: 44px;
    transform: translateX(10px);
}
#tabbed ul.menu li a:hover,
#tabbed ul.menu li a:focus {
    background: #1e71b0; /*dark blue*/
}
#tabbed ul.menu li a:hover {
    transform: translateX(0);
}
#tabbed ul.menu li a.current {
    background: #fff;
    color: #e95d0f; /*orange*/
    transform: translateX(0);
}
#tabbed ul.menu ul.subpages {
    margin: 9px 0 -10px 15px;
}
#tabbed ul.menu ul.subpages a {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    padding: 4px 5px 4px 8px;
}
/***** 6 column grid *****/

#tabbed .row {
    display: block;
    float: center;
    width: 100%;
    clear: both;
}
#tabbed .row img {
    display: inline-block;
    float: center;
}
#tabbed .hline {
    margin-bottom: 1.6em;
    width: 100%;
    border: 0;
    border-bottom: 3px solid #dce5ef;
}
#tabbed .cell {
    display: inline-block;
    float: left;
    position: relative;
    margin: 0 4% 2% 0;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}
#tabbed .cell:last-child {
    margin-right: 0;
}
#tabbed .cell.col100 {
    width: 100%;
}
#tabbed .cell.col81 {
    width: 81%;
}
#tabbed .cell.col66 {
    width: 66%;
}
#tabbed .cell.col48 {
    width: 48%;
}
#tabbed .cell.col30 {
    width: 30%;
}
#tabbed .cell.col15 {
    width: 15%;
}
/***** Titles *****/

body h1 {
    font-size: 34px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    line-height: 35px;
    margin: .3em .1em 0;
    color: #1e71b0;
    font-weight: 700;
}
body h2 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    margin: .2em 0;
    color: #333;
    font-weight: 400;
}
#tabbed .title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    color: #1e71b0;
}
#tabbed .title.large {
    font-size: 28px;
    width: 100%;
    line-height: 30px;
    border-bottom: 3px solid #dce5ef;
    padding-bottom: .45em;
}
#tabbed .title.normal {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: .45em;
}
#tabbed .title.small {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: .45em;
}
#tabbed .title.mini {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: .45em;
}
#tabbed .title.inline {
    font-size: 16px;
    display: block;
    padding-bottom: .45em;
}
/***** Paragraphs *****/

#tabbed p {
    display: block;
    text-align: justify;
}
#tabbed p.large {
    font-size: 18px;
    line-height: 24px;
    color: #555;
    margin-top: .65em;
    margin-bottom: 1em;
}
#tabbed p.normal {
    font-size: 14px;
    line-height: 22px;
    color: #555;
    margin: .4em 0 1.05em;
}
#tabbed p.small {
    font-size: 12px;
    line-height: 16px;
    color: #bbb;
    margin: 0;
}
/***** List style *****/

#tabbed ul.list {
    margin: 0;
    padding: .4em 0 .65em;
}
#tabbed ul.list li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    color: #555;
    margin: .4em 0 .65em;
}
#tabbed ul.list li a {
    color: #32b6e6;
}
#tabbed ul.list li a:hover {
    color: #e95d0f;
}
#tabbed ul.list li:before {
    content: '\2022 ';
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
    color: #e95d0f;
}
#tabbed ul.list li span.normal {
    font-size: 15px;
    line-height: 22px;
    color: #555;
    font-style: italic;
}
#tabbed ul.list li span.small {
    font-size: 12px;
    line-height: 16px;
    color: #555;
}
#tabbed ol {
    /*counter-reset: count;*/
    list-style-type: none;
    padding: .4em 0 .65em;
}
#tabbed ol li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    /*text-align:justify;*/
    color: #555;
    padding: .4em 0 .65em;
    counter-increment: count -1;
}
#tabbed ol li:before {
    content: counter(count)'. ';
    color: #e95d0f;
}
#tabbed .orange {
    color: #ff993f; /*light orange*/
}
#tabbed .gray {
    color: #333;
}
#tabbed b {
    font-weight: bold;
}
#tabbed i {
    font-style: italic;
}

/***** Back to top *****/
.back-to-top {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: -58px;
    width: 36px;
	height: 44px;
    background-color: #32b6e6;
    padding: 0 .7em 0 .6em;
    transform: translateX(10px);
}

.back-to-top img {    
    float: left;
    width: 25px;
	margin:.8em 0;
}
.back-to-top:hover {    
    background-color: #1e71b0;
    transform: translateX(0px);
}

/***** Footer *****/

#footer {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 7px;
    margin: 3px 0 0 8%;
    color: #555;
    text-align: center;
    font-weight: 200;
    font-size: 52%;
}
/***** Transitions *****/

#tabbed a,
a.back-to-top {
    transition: all ease 0.3s;
}